/*
** Styles for elements in the clich editor.
 */

.clich-container {
    /* Make this container fill all remaining space in it's parent. */
    flex: 1;
    /* Put the children toolbar and editor in a column. */
    display: flex;
    flex-direction: column;
}

.clich-toolbar {
    /* Put the child buttons in a row. */
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.clich-toolbar-button {
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: bottom;
}

.clich-toolbar-button:active {
    background-color: #f0f0f0;
    color: #000;
}

.clich-toolbar-button-selected {
    background-color: #e0e0e0;
}

.clich-editor {
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
}

.clich-editor:focus {
    outline: none;
}